.contacts-list{
    margin-top: 3rem;
    text-align: center;
    display: flex;
    gap: 2rem;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.contacts-list svg{
    width: 80px;
    height: 80px;
    margin-top: 1.5rem;
    fill: #312F44;
}
.contacts-list h2{
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #1c452d;
}
