.send-message{
    background-color: #312F44;
    color: #fff;
    padding: 2rem 6rem;
}
.send-message h1{
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}
.send-message form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.send-message form div{
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    align-self: flex-start;
}
.send-message form div label{
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}
.send-message form div input{
    width: 15rem;
    border: none;
    padding: 0.2rem;
    background-color: transparent;
    color: #fff;
    border-bottom: 2px solid #fff;
    margin-bottom: 1rem;
}
.send-message form div input::placeholder{
    color: #f7f7f7;
}
.send-message form div textarea{
    width: 50vw;
    height: 40vh;
    background-color: #f7f7f7;
    padding: 0.5rem;
    font-family: inherit;
    font-size: 1rem;
    border: none;
    border-radius: 7px;
}
.send-message button{
    background-color: #fff;
    border: none;
    color: #312F44;
    font-size: 1rem;
    padding: 0.5rem;
    margin-top: 2.5rem;
    border-radius: 6px;
    cursor: pointer;
    width: 6rem;
    margin: 0 auto;
}
.send-message hr{
    width: 10%;
    height: 0.5rem;
    background-color: #fff;
    border: none;
    margin-bottom: 4.5rem;
}