.programs-header{
    color: #312F44;
    padding: 2rem 6rem;
    background-color: #f7f7f7;
}
.programs-header .header-txt{
    display: flex;
    justify-content: space-between;
    gap: 6rem;
}
.programs-header h1{
    margin-bottom: 1.1rem;
    font-size: 1.8rem;
    width: 40%;
}
.programs-header p{
    font-size: 1rem;
    width: 40%;
    line-height: 1.5;    
}
