.activities{
    padding: 2rem 4rem;
    color: #312F44;
}
.activities h1{
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
.activities h5{
    font-size: 1.4rem;
}
.activities-container{
    margin-top: 1rem;
}
.activities-container li{
    list-style-type: "⚖️";
    margin-bottom: 1rem;
    line-height: 1.5;
    font-size: 1.05rem;
}
.activities-container li span{
    font-weight: 600;
}

@media(max-width:750px){
    .activities{
        padding: 2rem;
    }
}
@media(max-width:550px){
    .activities{
        padding: 1rem;
    }
    .activities-container{
        padding: 1rem;
    }
    .activities h1{
        font-size: 1.7rem;
    }
    .activities h5{
        font-size: 1.3rem;
    }
    .activities-container li{
        font-size: 0.9rem;
    }
}