.company-values{
    padding: 0rem 6rem;
    padding-top: 8.5rem;
    color: #fff;
    position: relative;
    height: 60vh;
    display: flex;
    gap: 8rem;
    cursor: default;

}
.company-values > h1{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.company-values .value{
    display: flex;
    justify-content: center;
    gap: 5rem;
    width: 50%;
}
.company-values .value img{
    border-radius: 7px;
    position: absolute;
    z-index: -1000;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top 10% left 0 ;
    top: 0;
    left: 0;
    filter: brightness(40%);
}
.company-values .value h2{
    margin-bottom: 1.5rem;
    font-size: 2.2rem;
    text-decoration: underline;
    text-underline-offset: 0.35rem;
}
.company-values .value p{
    font-size: 1.1rem;
    line-height: 1.5;
}