.about-overview{
    padding: 2rem 4rem;
    color: #fff;
    background-color: #312F44;
    position: relative;
    display: flex;
    justify-content: space-around;
}
.about-overview > div:first-child{
    width: 56%;
    margin-left: -5rem;
}
.about-overview img{
    width: 300px;
    height: 400px;
    border-radius: 10px;
}
.about-overview h1{
    font-size: 3.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.about-overview p{
    font-size: 1.06rem;
    line-height: 1.5;
    margin-bottom: 2.5rem;
}
.about-overview .learn-more{
    font-size: 1.1rem;
    text-decoration: underline;
    text-underline-offset: 0.25rem;
    color: #2cc26d;
    cursor: pointer;
}