.open-event{
    padding: 2rem 6rem;
    color: #312F44;
}

.open-event h2{
    margin-bottom: 1rem;
    font-size: 1.15rem;
}
.open-event p{
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.5;
}
