.contact-options{
    padding: 2rem 6rem;
    display: flex;
}
.option{
    width: 33%;
    text-align: center;
    color: #312F44;
}
.option div{
    margin-bottom: 1.1rem;
}
.option svg{
    width: 60px;
    height: 60px;
    fill: #312F44;
    margin-bottom: 1rem;
}